<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://offlinesyncsample2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>cc9d8e53-588d-4cf9-a22c-6c7d0076fc25</ProjectGuid>
    <PublishUrl>https://offlinesyncsample2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$OfflineSyncSample2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>